
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    font-size: 16px;
    width: 200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #1E90FF;
    color: #FFFFFF;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"]:hover {
    background-color: #007FFF;
  }
  
  #weather {
    display: flex;
    flex-wrap: wrap;
  }
  
  #weather > div {
    flex-basis: calc(100% / 7 - 20px);
    margin: 8px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  #weather h4 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  #weather img {
    width: 50px;
    height: 50px;
    margin: 10px 0;
  }
  
  #weather h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  #weather h4:last-child {
    margin-bottom: 10px;
  }
  
  table {
    background-color: #FFFFFF;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
th, td {
    padding: 10px;
    font-size: 20px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
